@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent
    !scrollbar-thumb-orange-500 overflow-x-hidden;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between
    px-4 py-4 transition-all lg:px-10 lg:px-6;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-sm text-[#e5e5e5] transition duration-[.4s]
    hover:text-[#E8906B];
  }

  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition
    hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .rowIcon {
    @apply absolute top-0 bottom-0 z-40 m-auto h-9 w-9 cursor-pointer opacity-0
    transition hover:scale-125 group-hover:opacity-100;
  }

  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none
    focus:bg-[#454545];
  }

  .loginError {
    @apply p-1 text-[13px] font-light text-orange-500;
  }

  .modalButton {
    @apply flex h-6 w-6 md:h-11 md:w-11 items-center justify-center rounded-full border-2 border-[gray]
    bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  .checkLi {
    @apply flex items-center gap-x-2 text-lg
  }

  .checkIcon {
    @apply h-7 w-7 text-[#eb6d38]
  }

  .genreBox{
    @apply relative mx-1.5 flex h-20 bg-[#eb6d38] cursor-default w-[calc(100%/3)]
    items-center justify-center rounded-sm font-semibold shadow
    md:h-32 lg:mx-8;
  }

}
